html{
	scroll-behavior: smooth;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 .single-project::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.single-project::-webkit-scrollbar {
	display: none;
}


body {
  max-width:100%;
  overflow-y: visible;
  cursor: none;
  font-family: Palatino;

}

img{
	max-width: 100%;
	max-height: 100%;
}
.wrapper { width:100%; margin:auto; max-width:100%;  overflow:visible; }
.demo-wrapper { height:100vh; width:100vw; position:fixed; top:0%; left:0; opacity: 0.8;}
.heatmap { width:100%; height:100%;}


.headers{
	max-width: 100%;
	padding: 10px 10px;
	position: fixed;
	left: 0;
	z-index: 1;
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.bodyContainer{
	display: block;	
	z-index: -1;
	position: relative;
	left: 0;
	top: 0;
}
.projects{
	position:relative; 
	z-index: 2;
	cursor: auto;
	backdrop-filter: blur(2px);
}
.projects p{
	font-size: 1vw;
	font-family: monospace;
	font-weight: 200;
	/* background-color: #fff; */
	padding: 2vw;
}
.single-project{
	display: flex;
	flex-direction: row;
	width: 100vw;
	overflow-x: scroll;
}

body{
	background-color: darkgrey;
}
h1{
	font-size: 20vw;
	font-family: 'ABCMaxiRound-Bold', sans-serif;
}
p{
	font-size: 10vw;
	font-weight: 600;
}
a{
	/* text-decoration: none;
	font-size: 3vw;
	color: red; */
}
h2{
	font-size: 4vw;
	display: inline-block;
	/* background-color: darkgray; */
	padding: 1vw;
}

.box {
	display: flex;
  }

  .one {
	flex: 1 1 0;
	/* background: #6c6d8c45; */
}

.two {
	flex: 1 1 0;
	/* background: #a9a9a9c4; */
}

.three {
	flex: 2 1 0;
}

.even{
	flex-direction: row-reverse;
}


.kukis-wrapper{
	width: 70vw;
	display: flex;
	align-items: flex-end;
	position: fixed;
	left: 50%;
	bottom: -100%;
	z-index: 4;
	transition: all 1s ease-in-out;
	cursor:default;
	transform: translateX(-50%);
}
.kukis-img-wrapper{
	width: auto;
	display: flex;
	align-items: flex-end;
	position: fixed;
	right: -100%;
	bottom:0;
	z-index: 3;
	transition: all 1s ease-in-out;
	cursor:default;
	pointer-events: none;
}



.kukis-wrapper.active{
	bottom: 0;
}
.kukis-img-wrapper.active{
	right: 0;
}


.kukis-reject{
	background-color: blue;
	border-radius: 100%;
	padding: 1vw 1.5vw;
	font-size: 1vw;
	font-weight: bold;
	color:white;
	border-color: transparent;
	cursor: pointer;
	transform: scale(1);
	transition: all .4s ease-in-out;
}

.kukis-reject:hover{
	transform: scale(1.2);
}

.kukis-disclaimer{
	font-size: 1vw;
	padding-right: 2vw;
}

.kukis-disclaimer a{
	font-size: 1vw;
	color: blue;
	/* padding-right: 2vw; */
}

.kukis-inner{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	background: red;
	padding: 1vw 2vw;
}

.section-contacts{
	min-height: 100vh;
	background-image: url("../bg.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	z-index: 2;
	cursor: default;
}
.contacts{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	color: yellow;
	font-size: 1.5vw;
	padding: 2vw 5vw;
}
.members-info{
	/* z-index: 2; */
	/* color: yellow; */
}
.members-info *{
	color: yellow;
	font-weight: bold;
	display: block;
	font-size: 1.5vw;
	margin: 1vw 0;
	/* text-shadow: 0 0 10px blue; */
}
@media only screen and (max-width: 1023px) {
	.kukis-wrapper{
		display: block;
		width: 100vw;
		top: -100%;
		left: 0;
		z-index: 3;
		transform: translateX(0);
	}
	.kukis-wrapper.active{
		top: 0;
	}
	.kukis-disclaimer{
		font-size: 6vw;
		padding-bottom: 2vw;
		padding-right: 0;
	}
	.kukis-inner{
		flex-direction: column;
		padding: 2vw 3vw;
	}
	.kukis-reject{
		padding: 3vw;
		margin: 2vw auto;
	}
	.kukis-reject{
		font-size: 4vw;
	}
	.kukis-disclaimer a{
		font-size: 6vw;
		color: blue;
		/* padding-right: 2vw; */
	}
	.kukis-img-wrapper{
		max-height: 60vh;
		right: 0;
		bottom: -100%;
		z-index: 4;
	}
	.kukis-img-wrapper.active{
		bottom: 0;
	}
	.contacts{
		flex-direction: column;
	}
	.members-info *{
		font-size: 6vw;
		margin: 5vw 0;
	}


}