html{
	scroll-behavior: smooth;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 .single-project::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.single-project::-webkit-scrollbar {
	display: none;
}


body {
  max-width:100%;
  overflow-y: visible;
  cursor: none;
  font-family: Palatino;
  display: flex;
flex-direction: column;
background-color: darkgrey;


}

img{
	max-width: 100%;
	max-height: 100%;
}
.wrapper { width:65%; margin:0 2vw; max-width:100%;  overflow:visible; }
.demo-wrapper { height:100vh; width:100vw; position:fixed; top:0%; left:0; opacity: 0.8;}
.heatmap { width:100%; height:100%;}


.headers{
	max-width: 100%;
	padding: 10px 10px;
	position: fixed;
	left: 0;
	z-index: 1;
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.bodyContainer{
	display: block;	
	z-index: -1;
	position: relative;
	left: 0;
	top: 0;
}
.projects{
	position:relative; 
	z-index: 2;
	cursor: auto;
	/* backdrop-filter: blur(2px); */
	/* backdrop-filter: blur(100px); */
}
.projects p{
	font-size: 1vw;
	font-weight: 200;
	/* background-color: #fff; */
	padding: 2vw;
}
.project-item{
	display: flex;
	flex-direction: row;
	width: 100vw;
	overflow-x: scroll;
	margin: 6vw 0;
}
.project-item.even{
	display: flex;
	flex-direction: row-reverse;
	width: 100vw;
	overflow-x: scroll;
	margin: 10vw 0;
}
.media{
	width: 65%;
	max-height: 100vh;
	display: flex;
	flex-direction: row;
}
.media img{
	max-width: none;
	cursor: e-resize;
}
.text-block{
	width: 35%;
}
.meta{
	font-size: 0.8vw;
	padding: 0 2vw;
	font-weight: 100;
}

h1{
	font-size: 20vw;
	font-family: 'ABCMaxiRound-Bold', sans-serif;
}
p{
	font-size: 10vw;
	font-weight: 600;
}

h2{
	font-size: 1vw;
	display: inline-block;
	font-weight: 100;
	padding: 0vw 2vw 1vw;
	text-decoration: underline;
}

.box {
	display: flex;
  }

  .one {
	flex: 1 1 0;
	/* background: #6c6d8c45; */
}

.two {
	flex: 1 1 0;
}

.three {
	flex: 2 1 0;
}

.even{
	flex-direction: row-reverse;
}


.kukis-wrapper{
	width: 70vw;
	display: flex;
	align-items: flex-end;
	position: fixed;
	left: 50%;
	bottom: -100%;
	z-index: 4;
	transition: all 1s ease-in-out;
	cursor:default;
	transform: translateX(-50%);
}
.kukis-img-wrapper{
	width: auto;
	display: flex;
	align-items: flex-end;
	position: fixed;
	right: -100%;
	bottom:0;
	z-index: 3;
	transition: all 1s ease-in-out;
	cursor:default;
	pointer-events: none;
}



.kukis-wrapper.active{
	bottom: 0;
}
.kukis-img-wrapper.active{
	right: 0;
}


.kukis-reject{
	background-color: blue;
	border-radius: 100%;
	padding: 1vw 1.5vw;
	font-size: 1vw;
	font-weight: bold;
	color:white;
	border-color: transparent;
	cursor: pointer;
	transform: scale(1);
	transition: all .4s ease-in-out;
}

.kukis-reject:hover{
	transform: scale(1.2);
}

.kukis-disclaimer{
	font-size: 1vw;
	padding-right: 2vw;
}

.kukis-disclaimer a{
	font-size: 1vw;
	color: blue;
	/* padding-right: 2vw; */
}

.kukis-inner{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	background: red;
	padding: 1vw 2vw;
}

.section-contacts{
	min-height: 100vh;
	background-image: url("../bg.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	z-index: 2;
	cursor: default;
}
.contacts{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	color: yellow;
	font-size: 1.5vw;
	padding: 2vw 5vw;
}
.members-info{
	/* z-index: 2; */
	/* color: yellow; */
}
.members-info *{
	color: yellow;
	font-weight: bold;
	display: block;
	font-size: 1.5vw;
	margin: 1vw 0;
	/* text-shadow: 0 0 10px blue; */
}
@media only screen and (max-width: 1023px) {
	.kukis-wrapper{
		display: block;
		width: 100vw;
		top: -100%;
		left: 0;
		z-index: 3;
		transform: translateX(0);
	}
	.kukis-wrapper.active{
		top: 0;
	}
	.kukis-disclaimer{
		font-size: 6vw;
		padding-bottom: 2vw;
		padding-right: 0;
	}
	.kukis-inner{
		flex-direction: column;
		padding: 2vw 3vw;
	}
	.kukis-reject{
		padding: 3vw;
		margin: 2vw auto;
	}
	.kukis-reject{
		font-size: 4vw;
	}
	.kukis-disclaimer a{
		font-size: 6vw;
		color: blue;
		/* padding-right: 2vw; */
	}
	.kukis-img-wrapper{
		height: 60vh;
		right: 0;
		bottom: -100%;
		z-index: 4;
	}
	.kukis-img-wrapper.active{
		bottom: 0;
	}
	.contacts{
		flex-direction: column;
	}
	.members-info *{
		font-size: 6vw;
		margin: 5vw 0;
	}


}



.media{
    /* background-color: black; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation-iteration-count: infinite;
	/* transition: all .4s ease-in-out; */
	transition: none;

}
/*  */
/* The animation code */
/*  */
.supr-gen{
    animation-name: supr-gen;
    animation-duration: 40s;
}
@keyframes supr-gen {
    0% {background-image: url("../img/supr-gen/01.JPEG");}
    25% {background-image: url("../img/supr-gen/02.JPEG");}
    50% {background-image: url("../img/supr-gen/03.JPEG");}
    75% {background-image: url("../img/supr-gen/04.JPEG");}
    100% {background-image: url("../img/supr-gen/05.JPEG");}
}

.now-you-see{
    animation-name: now-you-see;
    animation-duration: 40s;

}
/*  */
/* The animation code */
/*  */
@keyframes now-you-see {
    0% {background-image: url("../img/now-you-see/01.jpg");}
    100% {background-image: url("../img/now-you-see/02.jpg");}
}

.id-20{
    /* background-color: black; */
    animation-name: id-20;
    animation-duration: 40s;

}
/*  */
/* The animation code */
/*  */
@keyframes id-20 {
    0% {background-image: url("../img/id-20/01.png");}
    50% {background-image: url("../img/id-20/02.png");}
	100% {background-image: url("../img/id-20/03.png");}
}

.ground-trt{
    animation-name: ground-trt;
    animation-duration: 40s;
}
/*  */
/* The animation code */
/*  */
@keyframes ground-trt {
	0% {background-image: url("../img/ground-trt/01.JPG");}
    25% {background-image: url("../img/ground-trt/02.JPG");}
    50% {background-image: url("../img/ground-trt/03.JPG");}
    75% {background-image: url("../img/ground-trt/04.JPG");}
    100% {background-image: url("../img/ground-trt/05.JPG");}
}





.swiper {
	width: 100%;
	height: 100%;
  }

  .swiper-slide {
	text-align: center;
	font-size: 18px;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
  }

  .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
  }



.swiper-button-prev {
	color: red;
	left: 3vw;
  /* background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAwElEQVR4nO3YIUpFYRCG4UcFQZNgMglGm8F6s9uyuQGDC7CYzYJXBBVXYBNMFjEYTFomqVmY4XvgLOCFc84/8xMREREREb9t4xbXGtvCI75wr6lNLCviCTsa2sBVRTxjV0PruKyIF+xpaA0XFfGKfQ2t4rwi3nCgoRWcVcQ7DjWNOK2IDyw0dVIRnzjS1HFFdHxupoQsR75aoz72Mb/fUQfiqBFl1NA4aowftVj9teo+GHD5cPdzJIiIiIiICP/sG0CFktwMi6bqAAAAAElFTkSuQmCC") !important; */
}

.swiper-button-next {
	color: red;
	right: 3vw;
  /* background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAyUlEQVR4nO3YrUpEURSG4QcVRLAojJOmDUybOuAV2r0Au8EueKLa/AmCzSRYLHoBWnaaLMhafA/stNMLZ5+z9iEiIiIiIv7XDZ5worhb/OAZxwqb4WXEPOJIYXO8jpg7HCpsgbcRM+FAYUu8j5hr7CtshY8Rc4U9ha3xOWIusauwDb5GzAV2FHaK7xFzvr05jY2K62x7JGgR0ubRqmLT4bCvO7x+Vx0+iMsOI8qiw9A47zDGz7pcrO67XHUnPHT4+RARERER4c/9AoxmkwPuIygtAAAAAElFTkSuQmCC") !important; */
}